.receivedInvoices{
  background:white;
  height: 100px;
  margin-left: -8px;
  margin-right: -40px;
}
.receivedInvoices>h4{
  font-weight: bold;
  font-size: 20px;
  padding-left: 35px;
  padding-top: 7px;
  color: #354052;
}
.receivedInvoices>i{
  font-size: 18px;
  padding-left: 35px;
  color: #354052;
}

.navbar-header{
  position: relative;
  z-index: 1000;
  background: #354052;
}
.navbar-collapse{
background-color: #354052;
margin-left: -16px;
margin-right: -16px;
}
.navbar{
  margin-bottom: 0;
}
.navbar-toggle{
    margin-right: 60px;
    font-size: 16px;
    color: white;
}
.nav>li>a{
  margin-right: 20px;
  color: white;
  text-align: center;
}
.nav>li>a:hover{
  color: #354052;
}
#verifyDecline{
  text-align: center;
}
#verify{
  color: #5cb85c;
}
#decline{
  color: #d9534f;
}
#verifyDecline>span:hover{
  cursor: pointer;
  font-weight: bold;
}
#badge{
  padding-top: 3px;
  background-color: #43be7f;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  margin-top: 9px;
}
#badgeRed{
  padding-top: 3px;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  margin-top: 9px;
  background-color:#a94442;
}
#badgeGrey{
  padding-top: 3px;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  margin-top: 9px;
  background-color: #777;
}
