.logoHeroImage{
  height: 200px;
  width: 200px;
}
.lead{
  font-size: 16px;
}
.heroButton{
  background-color: #30c3a6;
  border-radius: 17px;
  border: 1px solid #8fa99c;
  color: #fff;
  overflow: hidden;
  margin-top: 50px;
  height: 60px;
  width: 220px;
  transition: background-color 1s linear;
  font-size: 20px;
}
#arrowGif{
  width: 80px;
  padding-top: 100px;
  cursor: pointer;
}
.servicesIMG{
  margin-top: 50px;
}
.img-circle{
border: 2px solid #c7c7c7;
}
@media (min-width: 640px) {
  #arrowGif{
    padding-top: 0!important;
  }
}
@media (min-width: 1900px) {
  #arrowGif{
    padding-top: 180px!important;
  }
}
.heroButton:hover{
  background-color: #19aaff;
  transition: background-color 1s linear;
}
#addBlinkID {
  display: flex;
  justify-content: center;
}

#btnSearchDiv {
  display: inline-flex;
  vertical-align: bottom;
  float: none;
}

#jmbg {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

#btnSearchDiv .btn-search {
  margin-right: 18px;
}
/*loader*/
.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.status-loader {
  margin: auto 15px auto 0 !important;
  width: 20px !important;
  height: 20px !important;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #E10030;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
.header-image{
  height: 700px;
}

.paddingLeftCircle{
padding-top: 5%;
}
#about{
  color: white;
  width: 100%;
  padding-top: 50px;
  text-align: center;
  display: inline-block;
  padding-bottom: 80px;
background-color: #303742;
}
#section2{
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding-top: 50px;
  text-align: center;
  display: block;
  background-color: #303742;
  color: #fff;
  padding-bottom: 80px;
}
#section3{
  background-color: #303742;
  color: #fafafa;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding-top: 50px;
  text-align: center;
  display: block;
  padding-bottom: 80px;
  border-bottom: 5px solid #efefef;
}
#aboutUS{
  background-color: #efefef;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding-top: 50px;
  text-align: center;
  display: block;
}
.centerText{
  text-align: center;
}
#learnMore{
  background-color: #efefef;
  color: #303742;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding-top: 50px;
  display: block;
  padding-bottom: 120px;
}
.issuesAndSolutionsItem>h4{
  color:#303742;
  text-align: center;
}
#issuesAndSolutions{
  font-size: 14px;

  text-align: justify;
}
#team{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  display: block;
  background-color: #efefef;
  color: #303742;
  padding-bottom: 80px;
}

#selectionTab{
  background-color: #222;
  margin-top: 10px;
  padding-bottom: 10px;
}
#selectionTab:hover{
  background-color: #2222221a;
  border: 2px solid white;
  -webkit-transition: background-color 800ms linear;
  -ms-transition: background-color 800ms linear;
  transition: background-color 800ms linear;
}
#companyProfilePararaph{
  text-align: justify;
}
.h2Hero{
  margin-bottom: 80px;
  text-align: center;
}
.h2About{
  margin-bottom: 50px;
  text-align: center;
}
.h2Solution{
  margin-bottom: 0px;
  text-align: center;
}
.roundPanel{
  text-align: center;
    padding: 50px;
    border-radius: 100%;
    height: 200px;
    width: 200px;
    color: #2b924f;
    background: linear-gradient(#fbfbfb,#fcfcfc);
    border: 2px solid #303742;
    box-shadow: 0px 0px 0px #ffffff;
  -webkit-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.roundPanel>span{
  font-size: 80px;
}
.paddingLeftCircle>strong{
  font-size: 20px;
  padding: 0!important
}
.roundPanel:hover{
  cursor: pointer;
  box-shadow: 0px 2px 30px #2b924f;
  -webkit-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.roundPanel>strong{
  font-size: 15px;
}
.companyImg{
  border-radius: 5%;
  height: 100%;
  width: 100%;
}
.contactDetails{
  padding: 20px;
}
.contactDetails>input{
  box-shadow: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #efefef;
  margin-bottom: 25px;
  background-color: rgba(255, 255, 255, 0);
}

.contactIcons>span{
  font-size: 20px;
  padding: 10px;
  background-color: rgba(1,1,1,0);
  border-radius: 5px;
  border: 1px solid #303742;
}
.contactIcons>span:hover{
  background-color: rgb(88, 93, 101);
  cursor: pointer;
}
.servicesText{
  padding: 30px;
}
.servicesImg{
  padding: 30px;
}
@media screen and (max-width: 425px) {
  .servicesText{
    padding: 0px;
  }
  .servicesImg{
    padding-left: 35px;
  }
  .paddingLeftCircle{
    padding-left: 30%;
  }
  .companyImg{
    height: 100%!important;
    width: 100%!important;
  }
}


@media screen and (max-width: 992px) {
  .roundPanel{
    height: 120px;
    width: 120px;
    padding: 30px 0 0 0;
  }
  .roundPanel>span{
    font-size: 50px;
  }
}
@media screen and (min-width: 993px) {
  .imgEcoSystem{
    height: 90%!important;
    width: 90%!important;
  }
}
