<!-- Full Width Image Header -->
<header class="header-image" id="top">
  <div class="headline">
    <div class="container">
      <h1>Between</h1>
      <h2>Re-shape Your Business</h2>
      <h4>Enterprise-grade invoice verification system</h4>
      <button class="heroButton"><strong>Learn more</strong></button>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="row" id="aboutUS" #aboutus>
  <div class="container">
  <div class="col-md-12"><h2 class="h2Hero">About us</h2></div>
  <div class="col-xs-12 col-md-8" id="companyProfilePararaph">
  <p class="lead">Between is a Belgrade based technology company on a mission to enable a smarter and more connected business environment. We are developing a platform that underpins invoice verificiation, financing and continuous liqudity analysis.<br><br>
  We strive to become an invaluable connection between business entities. Providing an enterprise-grade platform that ensures validity of transactions between companies, in a single convenient solution. Resulting in enhancement of counterparty trust, overcoming current lack of standardization and interoperability between companies.
  </p>
  </div>



  <div class="col-xs-12 col-md-4">
    <a>
    <img class="featurette-image img-responsive companyImg" src="../../assets/images/businessPNG.png">
    </a>
  </div>
</div>
</div>


  <!-- First Featurette -->
  <div class="row" id="about" #technology>
    <div class="container">
    <div class="col-md-12">
    </div>
    <h2 class="h2Hero">Invoice verification protocol</h2>
    <p class="lead">Platform integrates invoice verification protocol through registration of
    invoice information on an immutable distributed ledger that will provide
    relevant invoice information to the parties of the transaction based on a
    permissions based mechanism. The protocol is powered by <b>Hyperledged Fabric</b> blockchain technology.</p>

  <div class="row">
    <div class="col-md-12"><h2>Services</h2></div>

    <div class="col-md-6 servicesImg">

        <div class="col-xs-12 col-sm-6 paddingLeftCircle">
          <div class="roundPanel">
            <span class="fa fa-file"></span><br>
          </div>
        </div>
      <div class="servicesText">
      <h3>Invoice financing</h3>
      <p>
        Verified transaction data lay a reliable foundation for financiers to mitigate asymmetric information and offer timely invoice financing that will in turn allow companies to seamlessly overcome cash flow fluctuations and fuel business growth.
      </p>
    </div>
    </div>

    <div class="col-md-6 servicesImg">
      <div class="col-xs-12 col-sm-6 paddingLeftCircle">
        <div class="roundPanel">
          <span class="fa fa-area-chart"></span><br>
        </div>
      </div>
      <div class="servicesText">
      <h3>Continious liquidity analysis</h3>
      <p>If you can’t measure, you can’t manage it. Our platform enables continuous liquidity analysis, a concept previously unattainable. Allowing companies to introduce active management system.
      </p>
      </div>
    </div>

  </div>
  </div>
  </div>

  <div class="row" id="team" #team>
    <div class="container">
    <div class="col-md-12">
      <h2>Team</h2><br><br>
      <h4>
      Founders’ vision
    </h4>
      <p>
At Between, we do well by doing right. Our core values drive our commitment to service. We understand that success is only real when shared, which is why we are creating a culture here at Between where the highest goal is to empower others to achieve more - whether they be associates, business partners, or service users.
      </p>
    </div>

    <div class="col-sx-12 col-sm-6 col-md-3 servicesImg">
      <a>
      <img class="featurette-image img-circle img-responsive avatarImg" src="../../assets/images/miljan.jpg">
      </a>
      <h3>Miljan Gudelj</h3>
      <span class="fa fa-minus"></span><br>
      <div class="contactIcons">
        <span class="fa fa-linkedin"></span>&nbsp;<span class="fa fa-envelope"></span><br><br>
      </div>
      <i>Co-founder<br>
Business Development<br>
Msc in Business Economics</i>
    </div>
    <div class="col-sx-12 col-sm-6 col-md-3 servicesImg">
      <a>
      <img class="featurette-image img-circle img-responsive avatarImg" src="../../assets/images/matija.jpg">
      </a>
      <h3>Matija Mašković</h3>
      <span class="fa fa-minus"></span><br>
      <div class="contactIcons">
        <span class="fa fa-linkedin"></span>&nbsp;<span class="fa fa-envelope"></span><br><br>
      </div>
      <i>Co-founder<br>
Financial Modelling<br>
Msc in Corporate Finance<br>
Msc in Global Finance</i>
    </div>
    <div class="col-sx-12 col-sm-6 col-md-3 servicesImg">
      <a>
      <img class="featurette-image img-circle img-responsive avatarImg" src="../../assets/images/jovan.jpg">
      </a>
      <h3>Jovan Milovanović</h3>
      <span class="fa fa-minus"></span><br>
      <div class="contactIcons">
        <span class="fa fa-linkedin"></span>&nbsp;<span class="fa fa-envelope"></span><br><br>
      </div>
      <i>Co-founder<br>
Product development<br>
Msc in Information Systems and Technology</i>
    </div>
    <div class="col-sx-12 col-sm-6 col-md-3 servicesImg">
      <a>
      <img class="featurette-image img-circle img-responsive avatarImg" src="../../assets/images/mladen.jpg">
      </a>
      <h3>Mladen Tušup</h3>
      <span class="fa fa-minus"></span><br>
      <div class="contactIcons">
        <span class="fa fa-linkedin"></span>&nbsp;<span class="fa fa-envelope"></span><br><br>
      </div>
      <i>Advisor<br>
Product development<br>
Msc in Information Systems and Technology</i>
    </div>
  </div>
  </div>



  <div class="row" id="section3" #contact>
   <div class="container">
    <div class="row">
      <h3>Contact</h3>
    </div>
    <div class="row">
      <div class="col-xs-12 contactDetails">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" id="inputName" class="form-control" placeholder="Name" required >

        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required >

        <label for="inputMessage" class="sr-only">Message</label>
        <input type="message" id="inputMessage" class="form-control" placeholder="Message" required >
      </div>
    </div>
  </div>
  </div>
