<!-- Full Width Image Header -->
<header class="header-image" id="top" #title>
  <div class="headline">
    <div class="container">
      <h1>Between</h1>
      <h2>Reshape Your Business</h2>
      <h4>Enterprise-grade invoice verification system</h4>
      <button class="heroButton" (click)="scrollToProject()"><strong>Learn more</strong></button>
    </div>
    <a (click)="scrollToAboutUs()"><img id="arrowGif" src="../../assets/images/arrowDown.gif" alt="Arrow"></a>
  </div>
</header>

<!-- Page Content -->
<div class="row" id="aboutUS" #aboutus>
  <div class="container">
  <div class="col-md-12"><h2 class="h2Hero">About us</h2></div>
  <div class="col-xs-12 col-md-8" id="companyProfilePararaph">
  <p class="lead">Between is a Belgrade based technology company on a mission to enable a smarter and more connected business environment. We are developing a platform that underpins invoice verification, financing and continuous liqudity analysis.<br><br>
    We strive to become an invaluable connection between business entities. Providing an enterprise-grade platform that ensures validity of transactions between companies, in a single convenient solution, resulting in enhancement of counterparty trust, overcoming current lack of standardization and interoperability <strong>between</strong> companies.
  </p>
  </div>
  <div class="col-xs-12 col-md-4">
    <a>
    <img class="featurette-image img-responsive companyImg" src="../../assets/images/businessPNG.png">
    </a>
  </div>
</div>
</div>

<!-- Learn More -->
<div class="row" id="learnMore">
  <div class="container">
  <div class="col-md-12" ><h2 class="h2Hero">In a Nutshell</h2></div>

  <div class="col-xs-12" id="issuesAndSolutions">

    <div class="col-xs-6 issuesAndSolutionsItem"><h4><strong>CURRENT ISSUES</strong></h4></div>
    <div class="col-xs-6 issuesAndSolutionsItem"><h4><strong>OUR PROPOSED SOLUTION</strong></h4></div>

    <div class="row">
    <div class="col-xs-6" #project>
      <h4>Counterparty relationship
      </h4>
      <p>Business entities often encounter counterparty trust issues, leading to costly and timely confirmation process on open item lists. Lack of standardization and interoperability gives rise to disconnected systems.
      </p>
    </div>

    <div class="col-xs-6">
      <h4>Counterparty relationship
      </h4>
      <p>Between platform offers invoice verification protocol through registration of invoice information on an immutable distributed ledger through permission based mechanism.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h4>Invoice financing
      </h4>
      <p>Mitigation of cash flow fluctuations through invoice financing is reliant on manual work and followed by complex procedures to reduce risk for financiers, leading to expensive financing solutions. In the current state, no direct relationship is established between invoice issuer, invoice financier and invoice payer. </p>
    </div>

    <div class="col-xs-6">
      <h4>Invoice financing
      </h4>
      <p>Platform users can interact directly through the platform with counterparties and financiers, who can grant invoice financing (direct factoring and/or reverse factoring) based on verified financial data, screening creditworthiness of both parties to the transaction.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h4>Financial analysis
      </h4>
      <p>The financier is dependent on the information provided by the invoice issuer. One of the main obstacles for business entities seeking invoice financing is to prove positive financial history. The same is not possible for a vast majority of small and medium enterprises.</p>
    </div>

    <div class="col-xs-6">
      <h4>Financial analysis
      </h4>
      <p>Users have direct access to fully automated financial analytics based on near to real-time data instead of outdated information, through which they can understand and measure business results and targets.</p>
    </div>
  </div>
  <!--<div class="row">-->
    <div class="col-xs-12 centerText issuesAndSolutionsItem">
      <h4>CORE PLATFORM ADVANTAGES</h4>
      <p>Between platform leverages a core feature of the blockchain called immutability. When invoice information is stored on the blockchain, it can never be changed. Seamless eco-system with permissioned access and verification protocol brings trust and transparency to all parties involved. Dynamic invoices introduce ease invoice information update reducing paperwork, while preserving sensitive information.</p>
      <br><br><h4>ECOSYSTEM
      </h4>
    </div>
  <!--</div>-->
</div>
<div class="col-xs-12 col-md-12">
    <a>
    <img class="featurette-image img-responsive companyImg imgEcoSystem" src="../../assets/images/ecosystem.png">
    </a>
  </div>
</div>
</div>

  <!-- First Featurette -->
  <div class="row" id="about" #protocol>
    <div class="container">
    <div class="col-md-12">
    </div>
    <h2 class="h2Hero">Invoice verification protocol</h2>
    <p class="lead">Platform integrates invoice verification protocol through registration of
    invoice information on an immutable distributed ledger that will provide
    relevant invoice information to the parties of the transaction based on a
    permissions based mechanism. The protocol is powered by <b>Hyperledger Fabric</b> blockchain technology.</p>

  <div class="row">
    <div class="col-md-12"><h2>Services</h2></div>

    <div class="col-md-6 servicesImg">

        <div class="col-xs-12 col-md-6 paddingLeftCircle">
          <div class="roundPanel col-xs-12 col-md-6">
            <span class="fa fa-file"></span><br>
          </div>
        </div>
      <div class="servicesText col-xs-12 col-md-6">
      <h3>Invoice financing</h3>
      <p>
        Verified transaction data lays a reliable foundation for financiers to mitigate asymmetric information and offer timely invoice financing that will in turn allow companies to seamlessly overcome cash flow fluctuations and fuel business growth.
      </p>
    </div>
    </div>

    <div class="col-md-6 servicesImg">
      <div class="col-xs-12 col-md-6 paddingLeftCircle">
        <div class="roundPanel col-xs-12 col-md-6">
          <span class="fa fa-area-chart"></span><br>
        </div>
      </div>
      <div class="servicesText col-xs-12 col-md-6">
      <h3>Continious liquidity analysis</h3>
      <p>If you can’t measure it, you can’t manage it. Our platform enables continuous liquidity analysis, a concept previously unattainable, allowing companies to introduce active management system.
      </p>
      </div>
    </div>

  </div>
  </div>
  </div>

  <div class="row" id="team" #team>
    <div class="container">
    <div class="col-md-12">
      <h2>Team</h2><br><br>
      <h4>
      Founders’ vision
    </h4>
      <p>
At Between, we do well by doing right. Our core values drive our commitment to service. We understand that success is only real when shared, which is why we are creating a culture here at Between where the highest goal is to empower others to achieve more - whether they be associates, business partners, or service users.
      </p>
    </div>

    <div class="col-sx-12 col-sm-6 col-md-3 servicesImg">
      <a>
      <img class="featurette-image img-circle img-responsive avatarImg" src="../../assets/images/miljan.jpg">
      </a>
      <h3>Miljan Gudelj</h3>
      <div class="contactIcons">
        <span class="fa fa-linkedin" (click)="onNavigate('miljan')"></span>&nbsp;<br><br>
      </div>
      <span class="fa fa-minus"></span><br>
      <i>Co-founder<br>
  Business Development<br>
  Msc in Business Economics</i>
    </div>
    <div class="col-sx-12 col-sm-6 col-md-3 servicesImg">
      <a>
      <img class="featurette-image img-circle img-responsive avatarImg" src="../../assets/images/matija.jpg">
      </a>
      <h3>Matija Mašković</h3>
      <div class="contactIcons">
        <span class="fa fa-linkedin"  (click)="onNavigate('matija')"></span>&nbsp;<br><br>
      </div>
      <span class="fa fa-minus"></span><br>
      <i>Co-founder<br>
  Business Development<br>
  Msc in Corporate Finance<br>
  Msc in Global Finance</i>
    </div>
    <div class="col-sx-12 col-sm-6 col-md-3 servicesImg">
      <a>
      <img class="featurette-image img-circle img-responsive avatarImg" src="../../assets/images/jovan.jpg">
      </a>
      <h3>Jovan Milovanović</h3>
      <div class="contactIcons">
        <span class="fa fa-linkedin" (click)="onNavigate('jovan')"></span>&nbsp;<br><br>
      </div>
      <span class="fa fa-minus"></span><br>
      <i>Co-founder<br>
  Product development<br>
  Msc in Information Systems and Technology</i>
    </div>
    <div class="col-sx-12 col-sm-6 col-md-3 servicesImg">
      <a>
      <img class="featurette-image img-circle img-responsive avatarImg" src="../../assets/images/mladen.jpg">
      </a>
      <h3>Mladen Tušup</h3>
      <div class="contactIcons">
        <span class="fa fa-linkedin" (click)="onNavigate('mladen')"></span>&nbsp;<br><br>
      </div>
      <span class="fa fa-minus"></span><br>
      <i>Techical Advisor<br>
Product development<br>
Msc in Information Systems and Technology</i>
    </div>
  </div>
  </div>

  <div class="row" id="section3" #contact>
   <div class="container">
    <div class="row">
      <h3>Contact</h3>
    </div>
    <div class="row">
      <div class="col-xs-12 contactDetails">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" id="inputName" class="form-control" placeholder="Name" required disabled>

        <label for="inputCompany" class="sr-only">Company</label>
        <input type="company" id="inputCompany" class="form-control" placeholder="Company" required disabled>

        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required disabled>

        <label for="inputMessage" class="sr-only">Message</label>
        <input type="message" id="inputMessage" class="form-control" placeholder="Message" required disabled>
      </div>
    </div>
     <div>The contact section is currently disabled. We Apologize for the inconvenience.</div>
  </div>
  </div>
