<!-- Full Width Image Header -->
<header class="header-image" id="top" #title>
  <div class="headline">
    <div class="container">
      <h1>Between</h1>
      <h2>Verify. Finance. Monitor.</h2>
      <h4>Decentralized ecosystem for trade finance</h4>
      <button class="heroButton" (click)="scrollToSolution()"><strong>Learn more</strong></button>
    </div>
    <!--<a (click)="scrollToAboutUs()"><img id="arrowGif" src="../../assets/images/arrowDown.gif" alt="Arrow"></a>-->
  </div>
</header>

<!-- Learn More -->
<div class="row" id="learnMore">
  <div class="container">
    <div class="col-md-12" ><h2 class="h2Hero">Current Issues</h2></div>

    <div class="col-xs-12" id="issuesAndSolutions">

      <div class="col-xs-6 issuesAndSolutionsItem"><h4><strong>DAY-TO-DAY-OPERATIONS</strong></h4></div>
      <div class="col-xs-6 issuesAndSolutionsItem"><h4><strong>INVOICE FINANCING</strong></h4></div>

      <div class="row">
        <div class="col-xs-6" #solution>
          <!--<h4>Counterparty relationship-->
          <!--</h4>-->
          <p>Lack of standardization and interoperability between systems companies use, leads to high overhead costs and complex internal processes associated to Open Items Statement matching between counterparties.
          </p>
        </div>

        <div class="col-xs-6">
          <!--<h4>Counterparty relationship-->
          <!--</h4>-->
          <p>SMEs are not using invoice financing products efficiently, offered by financial institutions, since they encounter long and expensive administrative procedures.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <!--<h4>Invoice financing-->
          <!--</h4>-->
          <p>The reliance on manual and tedious tasks leads to costly and error-prone processes with potential fraud and compliance issues, unnecessarily lowering counterparty trust in the economy. Focally present when establishing new business relationships between counterparties.
          </p>
        </div>

        <div class="col-xs-6">
          <!--<h4>Invoice financing-->
          <!--</h4>-->
          <p>Financial institutions offering invoice financing services base their credit risk assessment on snapshot financial data, missing investment opportunities and increasing risk inherent to the process.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <!--<h4>Financial analysis-->
          <!--</h4>-->
          <p>Cash flow fluctuations can lead to significant operational backlogs. Companies in general and especially SMEs encounter difficulties when internally managing short-term liquidity needs
          </p>
        </div>

        <div class="col-xs-6">
          <!--<h4>Financial analysis-->
          <!--</h4>-->
          <p>Ecosystem observes fraudulent behaviour associated with double financing.
          </p>
        </div>
      </div>
      <!--<div class="row">-->
      <!--<div class="col-xs-12 centerText issuesAndSolutionsItem">-->
        <!--<h4>CORE PLATFORM ADVANTAGES</h4>-->
        <!--<p>Between platform leverages a core feature of the blockchain called immutability. When invoice information is stored on the blockchain, it can never be changed. Seamless eco-system with permissioned access and verification protocol brings trust and transparency to all parties involved. Dynamic invoices introduce ease invoice information update reducing paperwork, while preserving sensitive information.</p>-->
        <!--<br><br><h4>ECOSYSTEM-->
        <!--</h4>-->
      <!--</div>-->
      <!--</div>-->
    </div>
    <div class="col-xs-12 col-md-12">
      <a>
        <!--<img class="featurette-image img-responsive companyImg imgEcoSystem" src="../../assets/images/ecosystem.png">-->
        <img class="featurette-image img-responsive companyImg imgEcoSystem" src="../../assets/images/architecture.png">
      </a>
    </div>
  </div>
</div>

  <!-- First Featurette -->
  <div class="row" id="about">
    <div class="container">
    <div class="col-md-12">
    </div>
    <h2>Platform</h2>
      <p class="lead">The platform in its core integrates invoice verification protocol through company’s upload
        of issued and received invoices for verification by the counterparty of the transaction,
        while the event of the transaction is recorded on an immutable distributed ledger.
        The protocol is powered by <b>Hyperledger Fabric</b> blockchain technology.
      </p>
      <br>
    <h2 class="h2Hero" #platform>Invoice verification protocol</h2>
    <!--<p class="lead">Platform integrates invoice verification protocol through registration of-->
    <!--invoice information on an immutable distributed ledger that will provide-->
    <!--relevant invoice information to the parties of the transaction based on a-->
    <!--permissions based mechanism. The protocol is powered by <b>Hyperledger Fabric</b> blockchain technology.</p>-->

      <img class="featurette-image img-responsive companyImg imgEcoSystem" src="../../assets/images/architecture.png">

  <div class="row">
    <div class="col-md-12"><h2>Services</h2></div>

    <div class="col-md-6 servicesImg">

        <div class="col-xs-12 col-md-6 paddingLeftCircle">
          <div class="roundPanel col-xs-12 col-md-6">
            <span class="fa fa-file"></span><br>
          </div>
        </div>
      <div class="servicesText col-xs-12 col-md-6">
      <h3>Invoice financing</h3>
      <p>
        Verified transaction data lays a reliable foundation for financiers to mitigate asymmetric information and offer timely invoice financing that will in turn allow companies to seamlessly overcome cash flow fluctuations and fuel business growth.
      </p>
    </div>
    </div>

    <div class="col-md-6 servicesImg">
      <div class="col-xs-12 col-md-6 paddingLeftCircle">
        <div class="roundPanel col-xs-12 col-md-6">
          <span class="fa fa-area-chart"></span><br>
        </div>
      </div>
      <div class="servicesText col-xs-12 col-md-6">
      <h3>Continious liquidity analysis</h3>
      <p>If you can’t measure it, you can’t manage it. Our platform enables continuous liquidity analysis, a concept previously unattainable, allowing companies to introduce active management system.
      </p>
      </div>
    </div>

  </div>
  </div>
  </div>

<!-- Page Content -->
<div class="row" id="aboutUS" #aboutus>
  <div class="container">
    <div class="col-md-12"><h2 class="h2Hero">About us</h2></div>
    <div class="col-xs-12 col-md-8" id="companyProfilePararaph">
      <p class="lead">
        Between is a Belgrade-based start-up company founded in 2018.
        Our team holds deep industry knowledge of the operational problems firms currently face
        in order to keep their books in check and finance their supply chain, as well as constraints banks
        encounter during financing approval process. “Between” provides an enterprise-grade platform that
        ensures the validity of trade transactions between companies and supports invoices financing process, in a single convenient solution.
        We strive to become an invaluable connection between business entities and banks by leveraging new
        technologies and offering unique solution to multiple problems present in today’s market.
      </p>
    </div>
    <!--<div class="col-xs-12 col-md-4">-->
      <!--<a>-->
        <!--<img class="featurette-image img-responsive companyImg" src="../../assets/images/businessPNG.png">-->
      <!--</a>-->
    <!--</div>-->
  </div>
</div>

  <div class="row" id="team">
    <div class="container">
    <div class="col-md-12">
      <h2>Team</h2><br><br>
    </div>

    <div class="col-sx-12 col-sm-6 col-md-3 servicesImg">
      <a>
      <img class="featurette-image img-circle img-responsive avatarImg" src="../../assets/images/miljan.jpg">
      </a>
      <h3>Miljan Gudelj</h3>
      <div class="contactIcons">
        <span class="fa fa-linkedin" (click)="onNavigate('miljan')"></span>&nbsp;<br><br>
      </div>
      <span class="fa fa-minus"></span><br>
      <i>Co-founder<br>
  Business Development<br>
  Msc in Business Economics</i>
    </div>
    <div class="col-sx-12 col-sm-6 col-md-3 servicesImg">
      <a>
      <img class="featurette-image img-circle img-responsive avatarImg" src="../../assets/images/matija.jpg">
      </a>
      <h3>Matija Mašković</h3>
      <div class="contactIcons">
        <span class="fa fa-linkedin"  (click)="onNavigate('matija')"></span>&nbsp;<br><br>
      </div>
      <span class="fa fa-minus"></span><br>
      <i>Co-founder<br>
  Business Development<br>
  Msc in Corporate Finance<br>
  Msc in Global Finance</i>
    </div>
    <div class="col-sx-12 col-sm-6 col-md-3 servicesImg">
      <a>
      <img class="featurette-image img-circle img-responsive avatarImg" src="../../assets/images/jovan.jpg">
      </a>
      <h3>Jovan Milovanović</h3>
      <div class="contactIcons">
        <span class="fa fa-linkedin" (click)="onNavigate('jovan')"></span>&nbsp;<br><br>
      </div>
      <span class="fa fa-minus"></span><br>
      <i>Co-founder<br>
  Product development<br>
  Msc in Information Systems and Technology</i>
    </div>
    <div class="col-sx-12 col-sm-6 col-md-3 servicesImg">
      <a>
      <img class="featurette-image img-circle img-responsive avatarImg" src="../../assets/images/mladen.jpg">
      </a>
      <h3>Mladen Tušup</h3>
      <div class="contactIcons">
        <span class="fa fa-linkedin" (click)="onNavigate('mladen')"></span>&nbsp;<br><br>
      </div>
      <span class="fa fa-minus"></span><br>
      <i>Techical Advisor<br>
Product development<br>
Msc in Information Systems and Technology</i>
    </div>
  </div>
  </div>

  <div class="row" id="section3" #contact>
   <div class="container">
    <div class="row">
      <h3>Contact</h3>
    </div>
    <div class="row">
      <div class="col-xs-12 contactDetails">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" id="inputName" class="form-control" placeholder="Name" required disabled>

        <label for="inputCompany" class="sr-only">Company</label>
        <input type="company" id="inputCompany" class="form-control" placeholder="Company" required disabled>

        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required disabled>

        <label for="inputMessage" class="sr-only">Message</label>
        <input type="message" id="inputMessage" class="form-control" placeholder="Message" required disabled>
      </div>
    </div>
     <div>The contact section is currently disabled. We Apologize for the inconvenience.</div>
  </div>
  </div>
