<div class="requestInvoiceFinancing">
    <h4>
    Request Invoice Financing
  </h4>





  <p-table [value]="cake">
      <ng-template pTemplate="header">
          <tr>
              <th>Invoice Number</th>
              <th>Amount</th>
              <th>Verification Status</th>
              <th id="anotherColor">Financier</th>

          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
          <tr>
              <td>{{car.id}}</td>
              <td>{{car.type}}</td>
              <td>{{car.id}}</td>
              <td id="anotherColorTd">{{car.type}}</td>

          </tr>
      </ng-template>
  </p-table>


<button id="submitRequestBtn"><span class="fa fa-refresh"></span>&nbsp;SUBMIT REQUEST(S)</button>


</div>
