<nav class="navbar navbar-inverse navbar-fixed-top" [ngClass]="{'scrollFadeOut': isScrolling}">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="fa fa-bars"></span>
      </button>
      <a routerLink="/"><img class="logoImage" src="../assets/images/betweenLogo.png">between</a>
    </div>
    <div class="collapse navbar-collapse headerWithBorder" id="myNavbar">
      <ul class="nav navbar-nav navbar-right" [ngClass]="{'scrollFadeOutLinks': isScrolling}">
        <li>
          <a [routerLink]="['/dashboard']">Dashboard</a>
        </li>
        <li>
          <a (click)="emitClickEvent('aboutus')">About Us</a>
        </li>
        <li>
          <a (click)="emitClickEvent('technology')">Technology</a>
        </li>
        <li>
          <a (click)="emitClickEvent('team')">Team</a>
        </li>
        <li>
          <a (click)="emitClickEvent('contact')">Contact</a>
        </li>
        <li>
          <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
          <a [routerLink]="['/register']">Register</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="progress-container" *ngIf="scrolledPercent > 0">
    <div class="progress-bar" id="myBar" [style.width]="scrolledPercent + '%'"></div>
  </div>
</nav>
