<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" [ngClass]="{'scrollFadeOut': isScrolling ? true : false}">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="row">
    <div class="col-md-12">
      <div class="col-md-2">
        <a [routerLink]="['/']"><img class="logoImage" src="../assets/images/betweenLogo.png"></a>
      </div>
      <div class="col-md-10">
        <ul class="nav navbar-nav navbar-right" [ngClass]="{'scrollFadeOutLinks': isScrolling ? true : false}">
          <li>
            <a [routerLink]="['/']">Home</a>
          </li>
          <li>
            <a [routerLink]="['/dashboard']">Dashboard</a>
          </li>
          <li>
            <a [routerLink]="['/']">Platform</a>
          </li>
          <li>
            <a [routerLink]="['/']">Contact</a>
          </li>
          <li>
            <a [routerLink]="['/login']">Login</a>
          </li>
          <li>
            <a [routerLink]="['/register']">Register</a>
          </li>
      </ul>
    </div>
    </div>
  </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
