.scrollFadeOutLinks>li>a{
  color: #303742!important;
}
.nav>li>a{
  cursor: pointer;
  color: white;
}
.scrollFadeOutLinks>li>a:hover{

}
.logoImage {
  height: 100%;
  padding-top: 10px;
}
#logoA>a{
  text-decoration: none;
  font-family: "Agency FB";
  font-size: 30px;
  font-weight: bold;
  color: #007ac7;
}
#logoA>a:hover{
  color: #3886c9;
}
.headerWithBorder {
      border-bottom: 1px solid rgba(255,255,255,0.2);
}
.navbar.navbar-default {
  position: absolute;
  border-radius: 0;
  border-left: none;
  border-right: none;
  margin: 0;
  border: none;
  box-shadow: none;
  background-image: none;
  border-bottom: 1px solid #3999AC;
  height: 80px;
  padding-top: 0;
  padding-right: 0;
}

.navbar-wrapper {
  background-color: #fff;
}
.navBackGrounClr{
  background-color: #222;
}
.nav.navbar-nav {
  min-height: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  width: auto;
}

.nav.navbar-nav>li {
  height: 78px;
  display: flex;
  align-items: center;
  width: 120px;
  display: flex;
  justify-content: center;
  border-left-width: 0px;
  border-left-style: solid;
}
.nav.navbar-nav>ul{
    float: right;
}
.menu-item-bg {
  overflow: hidden;
}

.menu-item-bg:hover {
  background: linear-gradient(to bottom, rgba(142, 142, 142, 0) 0%, rgba(3, 30, 44, 1) 100%);
}

.menu-item-bg>a {
  text-align: center;
}

.login-menu-item {
  background-color: #00727e;
  text-transform: uppercase;
  cursor: pointer;
}

.login-menu-item>a,
.login-menu-item>a:hover {
  color: #ffffff;
  font-size: 18px;
}

.login-menu-item:hover {
  background-color: #3999AC;
}

.hvr-underline-from-left:before {
  background: #399AAC;
}

.nav.navbar-nav>li>div>a {
  color: #ffffff;
  font-size: 16px;
  padding: 0;
  margin: auto;
}

.nav.navbar-nav>li>div>a:hover {
  text-decoration: none;
}

.dropdown-menu {
  background-color: #4C565F;
  font-size: 16px;
  padding: 0;
  font-weight: 500;
  border-radius: 10px;
}

.dropdown-menu > li {    cursor: pointer;
}
.navbar-inverse{
  border-color: rgba(1,1,1,0);
  background-color: rgba(1,1,1,0);
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.dropdown-menu>li>a {
  color: #ffffff;
  font-size: 16px;
  padding: 8px 30px;
  border-bottom: 1px solid #14252F;
}

.navbar-nav>li>.dropdown-menu {
  border-radius: 10px;
}

.dropdown-menu>li:first-child>a {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dropdown-menu>li:last-child>a {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-menu>li>a:hover {
  background-image: none;
  background-color: #399AAC;
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 18px;
}


@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .scrollFadeOutLinks>li>a{
    color: white;
  }
  .nav.navbar-nav {
    background: #14252F;
    display: block;
  }
  .nav.navbar-nav {

    min-height: 50px;
    display: block;
  }
  .nav.navbar-nav>li {
    height: 45px;
    display: block;
    width: 100%;
    background: #14252F;
    text-align: center;
    border: none;
  }
  .navbar-collapse.in {
    overflow-y: visible;
    border-bottom: 1px solid #fff;
  }

  .navbar-nav .open .dropdown-menu {
    float: right;
    background: #14252F;
    width: 100%;
    text-align: center;
  }
  .navbar-toggle {
    margin-top: 17px;
    background-color: #00727e;
    border-color:  #00727e;

    .icon-bar {
      background-color: #fff;
    }
  }
  .navbar-toggle:hover, .navbar-toggle:focus {
    background-color: #3998AA;
    border-color:  #3998AA;
  }
  .navbar-brand {
    padding: 0 0 10px 10px!important;
  }
  .dropdown-menu > li:first-child > a,
  .dropdown-menu > li:last-child > a {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.scrollFadeOut {
background-color:rgba(239, 239, 239, 0.9);
box-shadow: 0px 0px 20px #808080;
  -webkit-transition: background-color 650ms linear;
  -ms-transition: background-color 650ms linear;
  transition: background-color 650ms linear;
}
.scrollFadeOut>li>a{
     font-weight: bold;
}
.navbar-header img{
  margin: 0 0 0 0;
}



//media queries
@media (max-width: 768px) {
  .dropdown.open {
    border-top: 1px solid #fff!important;
   }
}
@media (max-width: 844px) {
  .nav>li{
    background-color: rgba(1,1,1,0)!important;
  }
  .nav>a{
    background-color: rgba(1,1,1,0)!important;
  }
  .nav{
    background-color: rgba(1,1,1,0)!important;
  }
  .nav>li>a:hover{
       background-color: #7239d6;
  }
  .navbar-inverse{
    background-color: rgb(67, 190, 127);
    border-bottom: 1px solid #2cab71;
  }
  .scrollFadeOut{
    background-color: rgba(96, 33, 206, 0.7);
  }
  #myNavbar>li>a:hover{
       background-color: #7239d6;
  }
  .navbar-toggle{
    height: 70px;
    width: 70px;
    padding: 10px;
    background-color: #43be7f;
    border: 1px solid #43be7f;
  }
  .navbar-toggle:hover{
    background-color: #43be7f;
    border: 1px solid #43be7f;
  }
  .navbar-toggle:active{
    background-color: #43be7f;
    border: 1px solid #43be7f;
  }
  .navbar-toggle:visited{
    background-color: #43be7f;
    border: 1px solid #43be7f;
  }
  .navbar-toggle:focus{
    background-color: #43be7f;
    border: 1px solid #43be7f;
  }
  .navbar-toggle>span{
    color: white;
    font-size: 35px;
  }
  .navbar-toggle>span:hover{
    color:#2a7d53;
  }
}
/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 4px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 4px;
  //background: #4caf50;
  background: #30d464;
  width: 0%;
}
