<div class="dashBoardHomePage">
  <!-- firstsection -->
  <div class="dashboardFirst" *ngIf="email == 'matija.maskovic@between.network'">
    <h4>
      SCF Solutions, Belgrade
    </h4>
    <i>Serbia Belgrade, Tetovska 6, 777 (BIN - Business Identification Number)</i>
  </div>

  <div class="dashboardFirst" *ngIf="email == 'miljan.gudelj@between.network'">
    <h4>
      Ambex d.o.o, Belgrade
    </h4>
    <i>Serbia Belgrade (New Belgrade), Vladimira Popovića 50, 257 (BIN - Business Identification Number)</i>
  </div>

  <!-- second -->
  <div class="dashboardSecond">
    <div class="col-md-4 dashboardSeconditem">
      <h4>
        About Company:
      </h4>
      <p *ngIf="email =='matija.maskovic@between.network'">Company SCF Solutions has been established in 2012, with headquarter office in Belgrade.
        Company operates in computer science consulting industry.
      </p>
      <p *ngIf="email =='miljan.gudelj@between.network'">Company Ambex has been established in 2014, with headquarter office in Belgrade. Company operates in consumer goods industry.
      </p>
    </div>

    <div class="col-md-4 dashboardSeconditem" *ngIf="email =='matija.maskovic@between.network'">
      <h4>
        Sector: Software consulting
      </h4>
      <p>Industry: 2490 (Industry ID number) Software consulting
      </p>
    </div>

    <div class="col-md-4 dashboardSeconditem" *ngIf="email =='miljan.gudelj@between.network'">
      <h4>
        Sector: Consumer goods
      </h4>
      <p>Industry: 4690 (Industry ID number) Consumer goods
      </p>
    </div>

    <div class="col-md-4 dashboardSeconditem">
      <h4>Company Structure:
      </h4>
      <p>CEO - Name & Surname<br>
        CFO - Name & Surname<br>
        Country Manager - Name & Surname
      </p>
    </div>
  </div>

  <!-- third -->
  <div class="dashboardThird">
    <div class="col-md-6 dashboardThirditem">
      <h4>Rating Outlook</h4>
      <br>
      <i>Under construction...</i>
    </div>
    <div class="col-md-6 dashboardThirditem">
      <h4>Business Results</h4>
      <br>
      <i>Under construction...</i>
    </div>
  </div>

  <!-- fourth -->
  <div class="dashboardFourt">

  </div>

</div>
