.dashBoardHomePage{
  padding: 10px;
  height: 600px;
}
.companyName{
  background-color: white;
  padding: 5px;
  padding-left: 2px;
}
.overview{
  padding: 5px;
  background-color: #83f5a9!important;
}
.companyStatus{
  color: #303742;
    margin-top: 10px;
    background-color: #efefef;
    box-shadow: 1px 0px 9px grey;
    padding: 15px;
    font-size: 14px;
}
.aboutCompany{
  color: #303742;
    margin-top: 10px;
    background-color: #efefef;
    box-shadow: 1px 0px 9px grey;
    padding: 15px;
    font-size: 14px;
}
.companyItem{
  width: 50%;
  margin-right: 0px;
  color: #303742;
  margin-top: 10px;
  background-color: #efefef;
  box-shadow: 1px 0px 9px grey;
  font-size: 14px;
  padding-left: 20px;
  height: 215px;
  padding: 20px;
}
.firstCompItem{
  border-left: 0 solid grey!important;
  width: 48%;
  margin-right: 15px;
}
.imgHolder {
  text-align: center;
}
.imgHolder img{
  height: 100%;
}
