<div class="dashBoardHomePage">

  <div class="row">
    <div class="col-xs-12">
    <div class="companyStatus">
      <p>
      AMBEX D.O.O. BEOGRAD – NOVI BEOGRAD
      BEOGRAD (NOVI BEOGRAD), SURCINSKA 19B MB 21043486 PIB 108660651
      </p>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8">
    <div class="companyDetails">
      <p>
      AMBEX D.O.O. BEOGRAD – NOVI BEOGRAD
      BEOGRAD (NOVI BEOGRAD), SURCINSKA 19B MB 21043486 PIB 108660651
      </p>
    </div>
    </div>

    <div class="col-xs-12 col-md-4">
    <div class="companyDetails">
      <p>
      AMBEX D.O.O. BEOGRAD – NOVI BEOGRAD
      BEOGRAD (NOVI BEOGRAD), SURCINSKA 19B MB 21043486 PIB 108660651
      </p>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-md-4">
    <div class="companyItems">
      <p>
      AMBEX D.O.O. BEOGRAD – NOVI BEOGRAD
      BEOGRAD (NOVI BEOGRAD), SURCINSKA 19B MB 21043486 PIB 108660651
      </p>
    </div>
    </div>

    <div class="col-sm-4 col-md-5">
    <div class="companyItems">
      <p>
      AMBEX D.O.O. BEOGRAD – NOVI BEOGRAD
      BEOGRAD (NOVI BEOGRAD), SURCINSKA 19B MB 21043486 PIB 108660651
      </p>
    </div>
    </div>

    <div class="col-sm-4 col-md-3">
    <div class="companyItems">
      <p>
      AMBEX D.O.O. BEOGRAD – NOVI BEOGRAD
      BEOGRAD (NOVI BEOGRAD), SURCINSKA 19B MB 21043486 PIB 108660651
      </p>
    </div>
    </div>
  </div>


</div>
