<div class="dashBoardHomePage">
  <div class="row companyStatus">
    <p>
    AMBEX D.O.O. BEOGRAD – NOVI BEOGRAD
    BEOGRAD (NOVI BEOGRAD), SURCINSKA 19B MB 21043486 PIB 108660651
  </p>
  </div>

  <div class="row aboutCompany">
    <div class="col-md-8">
      ABOUT COMPANY:
      Ambex d.o.o. je osnovana u septembru 2014. godine u Beogradu, kao dio firme “Tring d.o.o.” sa
      sedištem u Podgorici. Firma posluje u oblasti …
    </div>
    <div class="col-md-4 borderLeft">
      SECTOR: Consumer discretionary goods
      INDUSTRY: 4690 – Nespecijalizovano trgovina na veliko
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 companyItem firstCompItem">
      ABOUT COMPANY:
      Ambex d.o.o. je osnovana u septembru 2014. godine u Beogradu, kao dio firme “Tring d.o.o.” sa
      sedištem u Podgorici. Firma posluje u oblasti …
    </div>
    <div class="col-md-4 companyItem imgHolder">
      <img class="featurette-image img-circle img-responsive" src="../../assets/images/open_account.png">
    </div>
    <div class="col-md-4 companyItem">
      SECTOR: Consumer discretionary goods
      INDUSTRY: 4690 – Nespecijalizovano trgovina na veliko
    </div>
  </div>
</div>
