<div class="receivedInvoices">
    <h4>
    Issued Invoices
  </h4>

  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myToolbar">
          <span class="fa fa-bars"></span>&nbsp;<strong>OPTIONS</strong>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myToolbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a><span class="fa fa-refresh"></span>&nbsp;Sync</a>
          </li>
          <li>
            <a><span class="fa fa-folder"></span>&nbsp;Invoice Import</a>
          </li>
          <li>
            <a><span class="fa fa-plus"></span>&nbsp;Create Invoice</a>
          </li>
          <li>
            <a><span class="fa fa-search"></span>&nbsp;Search</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <p-table [value]="invoices">
    <ng-template pTemplate="header">
      <tr>
        <th>Invoice Number</th>
        <th>To</th>
        <th>Issuance Date</th>
        <th>Payment Date</th>
        <th>Payment amount</th>
        <th>Verification Status</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-invoice>
      <tr>
        <td>{{invoice.number}}</td>
        <td>{{invoice.to}}</td>
        <td>{{invoice.issuanceDate}}</td>
        <td>{{invoice.paymentDate}}</td>
        <td>{{invoice.paymentAmount}}</td>
        <td>
          <p id="badgeGrey">{{invoice.status}}</p>
        </td>
        <td id="verifyDecline">
          <!--ako je status pending-->
          <span id="decline" class="fa fa-ban">&nbsp;Cancel request</span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
