<div class="sign-in-image">
<form class="form-signin">
  <img class="mb-4" src="../../assets/images/betweenLogo.png" alt="" width="80" height="80" routerLink="/">
  <h1 class="h3 mb-3 font-weight-normal">Register to platform</h1>

  <div class="row">
    <div class="col-sm-12">
      <label for="inputName" class="sr-only">Name</label>
      <input type="name" id="inputName" class="form-control" placeholder="Name" required autofocus>

      <label for="inputSurname" class="sr-only">Surname</label>
      <input type="surname" id="inputSurname" class="form-control" placeholder="Surname" required autofocus>

      <label for="inputAddress" class="sr-only">Address</label>
      <input type="address" id="inputAddress" class="form-control" placeholder="Address" required autofocus>

      <label for="inputCity" class="sr-only">City</label>
      <input type="city" id="inputCity" class="form-control" placeholder="City" required autofocus>

    </div>
    <div class="col-sm-12">
        <label for="inputCountry" class="sr-only">Country</label>
        <input type="country" id="inputCountry" class="form-control" placeholder="Country" required autofocus>

        <label for="inputContact" class="sr-only">Contact Number</label>
        <input type="contact" id="inputContact" class="form-control" placeholder="Contact Number" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <label for="inputPasswordRepeat" class="sr-only">Repeat Password</label>
        <input type="passwordRepeat" id="inputPasswordRepeat" class="form-control" placeholder="Repeat Password" required>

    </div>
  </div>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me">Remember me
    </label>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <button class="btn btn-lg btn-primary btn-block" (click)="login()">Register</button>
    </div>
  </div>

  <div class="checkbox mb-3">
    <label>
      Already have an account? <span routerLink="/login"><u>Login here</u></span>
    </label>
  </div>

  <p class="mt-5 mb-3 text-muted" style="margin-top: 20px;">&copy; Between 2017-2018</p>
</form>
</div>
